*, ::after, ::before {
  box-sizing: border-box; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }
body {
  margin: 0;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25; }

hr:not([size]) {
  height: 1px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: calc(1.375rem + 1.5vw); }

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem; } }
h2 {
  font-size: calc(1.325rem + .9vw); }

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem; } }
h3 {
  font-size: calc(1.3rem + .6vw); }

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem; } }
h4 {
  font-size: calc(1.275rem + .3vw); }

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem; } }
h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[data-bs-original-title], abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol, ul {
  padding-left: 2rem; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b, strong {
  font-weight: bolder; }

small {
  font-size: .875em; }

mark {
  padding: .2em;
  background-color: #fcf8e3; }

sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #0d6efd;
  text-decoration: underline; }

a:hover {
  color: #0a58ca; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

code, kbd, pre, samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: .875em; }

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal; }

code {
  font-size: .875em;
  color: #d63384;
  word-wrap: break-word; }

a > code {
  color: inherit; }

kbd {
  padding: .2rem .4rem;
  font-size: .875em;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem; }

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700; }

figure {
  margin: 0 0 1rem; }

img, svg {
  vertical-align: middle; }

table {
  caption-side: bottom;
  border-collapse: collapse; }

caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #6c757d;
  text-align: left; }

th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus:not(:focus-visible) {
  outline: 0; }

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, select {
  text-transform: none; }

[role=button] {
  cursor: pointer; }

select {
  word-wrap: normal; }

select:disabled {
  opacity: 1; }

[list]::-webkit-calendar-picker-indicator {
  display: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: calc(1.275rem + .3vw);
  line-height: inherit; }

@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem; } }
legend + * {
  clear: left; }

::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-year-field {
  padding: 0; }

::-webkit-inner-spin-button {
  height: auto; }

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-color-swatch-wrapper {
  padding: 0; }

::file-selector-button {
  font: inherit; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

iframe {
  border: 0; }

summary {
  display: list-item;
  cursor: pointer; }

progress {
  vertical-align: baseline; }

[hidden] {
  display: none !important; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
      padding: 0 20px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1320px; } }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-BoldItalic.eot");
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
html {
  font-size: 16px; }

body {
  background: #ffffff;
  font-family: 'Montserrat';
  color: #000000;
  font-weight: normal;
  font-style: normal; }

body * {
  outline: none !important; }

b,
strong {
  font-weight: bold; }

a,
svg,
path,
rect,
circle,
button,
span,
::before,
::after {
  transition: 0.5s ease; }

button {
  border-radius: 0;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit; }

a {
  color: #087534;
  text-decoration: underline; }
  a:hover {
    color: #087534;
    text-decoration: none; }

.svg {
  display: none; }

@media (max-width: 991px) {
  ._hidden-tablet {
    display: none !important; } }

._visible-tablet {
  display: none !important; }
  @media (max-width: 991px) {
    ._visible-tablet {
      display: inline-block !important; } }

@media (max-width: 767px) {
  ._hidden-mobile {
    display: none !important; } }

._visible-mobile {
  display: none !important; }
  @media (max-width: 767px) {
    ._visible-mobile {
      display: inline-block !important; } }

.btn {
  height: 46px;
  min-width: 175px;
  padding: 0 15px;
  font-size: 1.12rem;
  color: #ffffff !important;
  font-weight: 600;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important; }
  .btn:hover {
    background: #000000 !important; }
  .btn._light-green {
    background: #61B538; }
  .btn._green {
    background: #087534; }
  .btn._gradient {
    background: linear-gradient(270.7deg, #8CD05D -2.49%, #5C9E32 99.38%); }

.arrows {
  display: flex;
  align-items: center; }
  .arrows__item {
    min-width: 39px;
    max-width: 39px;
    height: 35px;
    border: 1px solid #B6B6B6;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin-right: 10px;
    border-radius: 4px; }
    .arrows__item:last-child {
      margin-right: 0;
      background: #087534;
      border: 1px solid #087534; }
      .arrows__item:last-child svg use {
        fill: #ffffff; }
    .arrows__item:disabled {
      opacity: .3; }
    .arrows__item._next {
      transform: rotate(180deg); }
    .arrows__item:hover {
      background: #087534;
      border: 1px solid #087534; }
      .arrows__item:hover svg use {
        fill: #ffffff; }
    .arrows__item svg use {
      fill: #000000; }

.list li {
  display: flex;
  align-items: flex-start; }
.list__circle {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  background: #087534;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 18px 0 0;
  position: relative; }
  .list__circle::before {
    content: '';
    width: 11px;
    height: 7px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
    position: absolute;
    top: calc(50% - 5px); }

.dots {
  display: flex;
  align-items: center; }
  .dots__item {
    min-width: 7px;
    max-width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 7px;
    background: #d4d4d4; }
    .dots__item:last-child {
      margin-right: 0; }
    .dots__item.tns-nav-active {
      background: #087534; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  background: #ffffff;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .5s ease; }
  @media (max-width: 991px) {
    .header {
      height: 70px; } }
  .header._scroll {
    height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    @media (max-width: 991px) {
      .header._scroll {
        height: 50px; } }
  .header__cols, .header__controls {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  @media (max-width: 991px) {
    .header__logo svg {
      height: 26px;
      width: auto; } }
  .header__controls {
    padding-left: 30px;
    font-family: 'Roboto'; }
  .header__phone {
    font-size: 1.62rem;
    font-weight: bold;
    margin-right: 135px;
    color: #000000;
    text-decoration: none; }
    @media (max-width: 991px) {
      .header__phone {
        font-size: 1rem;
        margin-right: 40px; } }
    @media (max-width: 575px) {
      .header__phone {
        display: none; } }
    .header__phone:hover {
      color: #087534; }
  .header__langs {
    margin-right: 84px;
    display: flex;
    align-items: center; }
    @media (max-width: 991px) {
      .header__langs {
        margin-right: 20px; } }
  .header__lang {
    font-size: 1.12rem;
    font-weight: bold;
    text-decoration: none;
    color: #B6B6B6;
    margin-right: 10px; }
    @media (max-width: 991px) {
      .header__lang {
        font-size: .75rem;
        margin-right: 5px; } }
    .header__lang:last-child {
      margin-right: 0; }
    .header__lang._active {
      color: #61B538 !important; }
    .header__lang:hover {
      color: #000000; }
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30px;
    max-width: 30px;
    height: 24px; }
    .header__burger span {
      height: 4px;
      background: #737373;
      border-radius: 2px;
      width: 100%; }
      .header__burger span:nth-child(2) {
        width: 60%; }
      .header__burger span:nth-child(3) {
        width: 80%;
        margin-left: 20%; }

.main {
  padding-top: 200px; }
  .main._inner {
    padding-top: 140px; }
    @media (max-width: 991px) {
      .main._inner {
        padding-top: 80px; } }
  @media (max-width: 991px) {
    .main {
      padding-top: 95px; } }

.section {
  padding: 110px 0; }
  @media (max-width: 991px) {
    .section {
      padding: 55px 0; } }
  .section._pt0 {
    padding-top: 0; }
  .section._pb0 {
    padding-bottom: 0; }
  .section__head {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-wrap: wrap; }
    @media (max-width: 991px) {
      .section__head {
        margin-bottom: 30px; } }
    @media (max-width: 991px) {
      .section__head._left-tablet {
        justify-content: flex-start;
        text-align: left; } }
    .section__head._mb0 {
      margin-bottom: 0 !important; }
  .section__title {
    font-size: 2.37rem;
    font-weight: 600;
    line-height: 110%;
    margin: 0;
    padding: 0;
    max-width: 700px; }
    @media (max-width: 991px) {
      .section__title {
        font-size: 1.75rem; } }
  .section__subtitle {
    width: 100%;
    background: linear-gradient(95.1deg, #F8DB8B -6.14%, #68B790 111.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 1.31rem;
    font-weight: 500;
    margin-top: 10px; }
  .section__head-arrows {
    position: absolute;
    right: 0;
    top: calc(50% - 17.5px); }

.intro__cols {
  display: flex;
  align-items: center;
  margin: 0 -15px; }
  @media (max-width: 767px) {
    .intro__cols {
      flex-direction: column;
      align-items: stretch; } }
.intro__col {
  padding: 0 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (max-width: 767px) {
    .intro__col {
      width: 100% !important;
      align-items: center;
      text-align: center; } }
  .intro__col._small {
    width: 32%; }
  .intro__col._big {
    width: 68%; }
    @media (max-width: 767px) {
      .intro__col._big {
        order: -1; } }
    @media (max-width: 767px) {
      .intro__col._big img {
        margin-bottom: 0 !important; } }
.intro__h1 {
  font-size: 2.46rem;
  font-weight: 600;
  padding: 0;
  margin: 0 0 5px;
  line-height: 110%; }
  @media (max-width: 991px) {
    .intro__h1 {
      font-size: 1.12rem;
      font-weight: normal; } }
  .intro__h1._inner {
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .intro__h1._inner {
        margin-bottom: 30px; } }
.intro__subtitle {
  font-size: 2.87rem;
  color: #61B538;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 25px; }
  @media (max-width: 991px) {
    .intro__subtitle {
      font-size: 1.75rem;
      font-weight: bold; } }
.intro__img {
  max-width: 100%;
  height: auto; }
  @media (max-width: 767px) {
    .intro__img {
      max-width: 280px;
      margin-bottom: 30px; } }
.intro__logo {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto; }

.clients {
  overflow: hidden; }
  .clients__carousel {
    padding: 10px 0; }
  .clients__item {
    height: 134px;
    width: 208px;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .clients__img {
    max-width: 100%;
    height: auto; }
  .clients .tns-ovh {
    overflow: visible; }
  @media (max-width: 991px) {
    .clients__arrows {
      display: none; } }

.about__cols {
  display: flex;
  align-items: center; }
  @media (max-width: 991px) {
    .about__cols {
      flex-direction: column; } }
.about__list {
  width: 24%;
  padding: 0;
  margin: 0;
  list-style: none; }
  @media (max-width: 991px) {
    .about__list {
      width: 100%; } }
  .about__list li {
    margin-bottom: 30px; }
    .about__list li:last-child {
      margin-bottom: 0; }
    .about__list li strong {
      font-weight: 600; }
.about__img {
  width: 52%;
  height: auto; }
  @media (max-width: 991px) {
    .about__img {
      width: 100%;
      margin: 40px 0; } }
.about__sertificates {
  display: flex;
  margin: 20px 0 0; }
.about__sertificate {
  margin-right: 30px; }
  .about__sertificate:last-child {
    margin-right: 0; }
  .about__sertificate img {
    max-width: 108px;
    height: auto; }
    @media (max-width: 1199px) {
      .about__sertificate img {
        max-width: 80px; } }
    @media (max-width: 991px) {
      .about__sertificate img {
        max-width: 108px; } }

.case__carousel-wrap {
  position: relative; }
.case__arrows._mobile {
  display: none; }
  @media (max-width: 991px) {
    .case__arrows._mobile {
      display: flex; } }
.case__arrows._desktop {
  position: absolute;
  right: 45px;
  bottom: 40px; }
  @media (max-width: 991px) {
    .case__arrows._desktop {
      display: none; } }
.case__item {
  background: #F9F9F9;
  padding: 40px 45px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px; }
  @media (max-width: 991px) {
    .case__item {
      flex-direction: column;
      padding: 30px 25px; } }
.case__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (max-width: 991px) {
    .case__content {
      width: 100%; } }
.case__img {
  width: 50%;
  padding: 0 15px;
  height: auto; }
  @media (max-width: 991px) {
    .case__img {
      order: -1;
      width: 70%;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .case__img {
      width: 100%; } }
  .case__img img {
    max-width: 100%;
    height: auto;
    max-height: 411px; }
.case__title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .case__title {
      font-size: 1.62rem;
      margin-bottom: 20px; } }
.case__block {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 991px) {
    .case__block {
      margin-bottom: 25px; } }
.case__block-title {
  font-size: 1.31rem;
  font-weight: bold;
  margin-bottom: 5px; }
  @media (max-width: 991px) {
    .case__block-title {
      font-size: 1.12rem; } }
.case__block-text {
  font-size: 1.12rem; }
  .case__block-text strong {
    font-weight: 600; }
.case__results {
  display: flex;
  margin: 20px -15px 0;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    .case__results {
      margin-top: 10px; } }
.case__result {
  width: 33.33%;
  padding: 0 15px; }
  @media (max-width: 575px) {
    .case__result {
      width: 50%; }
      .case__result:last-child {
        width: 80%;
        margin-top: 10px; } }
.case__number {
  font-size: 1.62rem;
  font-weight: bold;
  color: #087534; }
  .case__number sup {
    font-size: .87rem;
    color: #ffffff;
    font-weight: 500;
    background: #087534;
    padding: 3px 10px;
    border-radius: 10px;
    margin-left: 7px;
    position: relative;
    top: -15px;
    white-space: nowrap; }
.case__number-text {
  font-size: .87rem; }
.case__btn {
  font-size: 1rem; }
.case__box {
  margin-top: 50px;
  background: #f9f9f9;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  align-items: flex-start; }
  @media (max-width: 991px) {
    .case__box {
      padding: 0;
      background: none;
      flex-direction: column; } }
.case__box-content {
  min-width: 320px;
  max-width: 320px;
  margin-left: 35px; }
  @media (max-width: 991px) {
    .case__box-content {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 40px;
      order: -1; } }
.case__browser {
  width: calc(100% - 355px); }
  @media (max-width: 991px) {
    .case__browser {
      width: 100%; } }
.case__browser-head {
  width: 100%;
  height: auto; }
.case__browser-img {
  width: 100%; }
  .case__browser-img img {
    width: 100%;
    height: auto; }
.case__box-title {
  font-size: 1.12rem;
  font-weight: 600;
  margin-bottom: 30px; }
.case__box-list {
  margin: 0;
  padding: 0; }
  .case__box-list li {
    margin-bottom: 20px; }
    .case__box-list li:last-child {
      margin-bottom: 0; }

.services {
  overflow: hidden; }
  .services__cols {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -28px -56px; }
    @media (max-width: 1199px) {
      .services__cols {
        margin: 0 -15px -30px; } }
    @media (max-width: 575px) {
      .services__cols {
        margin: 0 0 -15px; } }
  .services__item {
    width: calc(33.33% - 56px);
    margin: 0 28px 56px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    padding: 70px 30px 50px; }
    @media (max-width: 1199px) {
      .services__item {
        width: calc(33.33% - 30px);
        margin: 0 15px 30px; } }
    @media (max-width: 991px) {
      .services__item {
        width: calc(50% - 30px);
        padding: 40px 25px 25px; } }
    @media (max-width: 575px) {
      .services__item {
        width: 100%;
        margin: 0 0 15px; } }
  .services__img {
    max-width: 80%;
    height: auto; }
  .services__title {
    margin: 25px 0 0;
    font-weight: 600;
    font-size: 1.12rem; }
    @media (max-width: 991px) {
      .services__title {
        margin: 20px 0 0;
        font-size: 1rem; } }
  .services__text {
    color: #737373;
    margin-top: 10px; }

.why-we__cols {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -35px; }
  @media (max-width: 767px) {
    .why-we__cols {
      margin: 0 -5px -10px; } }
.why-we__item {
  width: calc(25% - 30px);
  margin: 0 15px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.12rem; }
  @media (max-width: 991px) {
    .why-we__item {
      font-size: .87rem; } }
  @media (max-width: 767px) {
    .why-we__item {
      width: calc(50% - 10px);
      margin: 0 5px 10px;
      background: #f9f9f9;
      padding: 15px;
      border-radius: 10px; } }
.why-we__icon {
  height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .why-we__icon {
      height: 78px; } }
  .why-we__icon img {
    max-width: 100%;
    max-height: 100%;
    height: auto; }
.why-we__title {
  max-width: 70%; }
  @media (max-width: 991px) {
    .why-we__title {
      max-width: 100%; } }

.reviews {
  overflow: hidden; }
  @media (max-width: 767px) {
    .reviews__carousel {
      margin: 0 -10px; } }
  @media (max-width: 767px) {
    .reviews__arrows {
      display: none; } }
  @media (max-width: 767px) {
    .reviews .tns-ovh {
      overflow: visible; } }
  .reviews__item {
    display: flex;
    align-items: flex-start;
    padding: 10px; }
    .reviews__item._letter {
      max-width: 650px;
      width: 100%;
      margin: 0 auto; }
      @media (max-width: 991px) {
        .reviews__item._letter {
          max-width: 239px; } }
  .reviews__img {
    width: 35%; }
    @media (max-width: 991px) {
      .reviews__img {
        width: 100%; } }
    .reviews__img img {
      width: 100%;
      height: auto;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
  .reviews__content {
    width: 65%;
    padding-left: 30px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 991px) {
      .reviews__content {
        display: none; } }
  .reviews__title {
    font-size: 1.31rem;
    font-weight: bold;
    margin-bottom: 15px; }
  .reviews__text {
    font-size: .87rem; }

.feedback__cols {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  @media (max-width: 991px) {
    .feedback__cols {
      justify-content: center; } }
.feedback__img {
  width: 37%;
  height: auto; }
  @media (max-width: 991px) {
    .feedback__img {
      width: 50%; } }
  @media (max-width: 575px) {
    .feedback__img {
      width: 80%; } }
.feedback__content {
  width: 63%;
  padding-left: 35px; }
  @media (max-width: 991px) {
    .feedback__content {
      width: 100%;
      padding-left: 0;
      padding-top: 20px; } }

.form {
  overflow: hidden; }
  .form__cols {
    margin: 0 -28px;
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      .form__cols {
        margin: 0 -10px; } }
    @media (max-width: 575px) {
      .form__cols {
        margin: 0;
        flex-direction: column; } }
  .form__col {
    width: 50%;
    padding: 0 28px; }
    @media (max-width: 767px) {
      .form__col {
        padding: 0 10px; } }
    @media (max-width: 575px) {
      .form__col {
        width: 100%;
        padding: 0; } }
  .form__fieldset {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column; }
    .form__fieldset._last {
      margin-bottom: 0; }
  .form__label {
    font-weight: 500;
    margin-bottom: 6px; }
  .form__input, .form__textarea {
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
    border-radius: 12px; }
    .form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
      color: #A6A6A6; }
    .form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
      color: #A6A6A6; }
    .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
      color: #A6A6A6; }
  .form__input {
    padding: 0 15px;
    height: 56px; }
  .form__textarea {
    padding: 10px 15px;
    height: 140px;
    resize: none; }
  .form__policy {
    margin-top: 12px; }
    .form__policy a {
      color: #0B2CA0;
      text-decoration: none; }
      .form__policy a:hover {
        text-decoration: underline; }
  .form__btn {
    margin-top: 55px; }
    @media (max-width: 991px) {
      .form__btn {
        margin-top: 20px; } }

.articles {
  overflow: hidden; }
  @media (max-width: 767px) {
    .articles .tns-ovh {
      overflow: visible; } }
  .articles__item {
    display: flex;
    flex-direction: column; }
  .articles__img {
    margin-bottom: 20px; }
    .articles__img img {
      border-radius: 10px;
      width: 100%;
      height: auto; }
  .articles__date {
    display: flex;
    align-items: center;
    font-size: .87rem;
    color: #61B538;
    font-weight: 500;
    margin-bottom: 7px; }
    .articles__date svg {
      margin-right: 6px; }
  .articles__title {
    font-weight: 500;
    color: #000000;
    text-decoration: none; }
    .articles__title:hover {
      color: #61B538; }

.text {
  overflow: hidden;
  font-size: .87rem; }
  .text__cols {
    margin: 0 -35px;
    display: flex;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .text__cols {
        margin: 0;
        flex-direction: column; } }
  .text__col {
    padding: 0 35px;
    width: 50%; }
    @media (max-width: 767px) {
      .text__col {
        padding: 0;
        width: 100%; } }
  .text p {
    margin: 0; }

.case-about__container {
  display: flex;
  flex-direction: column;
  align-items: center; }
.case-about__wrap {
  max-width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
.case-about__text {
  margin: 15px 0 30px; }
  @media (max-width: 991px) {
    .case-about__text {
      margin-bottom: 40px; } }
  .case-about__text p {
    margin: 0; }
.case-about__gradient {
  background: linear-gradient(95.1deg, #F8DB8B -6.14%, #68B790 111.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; }
.case-about__title {
  font-size: 2.62rem;
  line-height: 110%;
  font-weight: 600;
  margin-bottom: 10px; }
  @media (max-width: 991px) {
    .case-about__title {
      font-size: 1.75rem; } }
.case-about__subtitle {
  font-size: 1.31rem;
  font-weight: 500; }

.goal__wrap {
  padding: 45px 45px 100px;
  background: #f9f9f9;
  border-radius: 20px; }
  @media (max-width: 991px) {
    .goal__wrap {
      padding-bottom: 45px; } }
  @media (max-width: 767px) {
    .goal__wrap {
      padding: 45px 30px; } }
  @media (max-width: 575px) {
    .goal__wrap {
      padding: 45px 16px;
      margin: 0 -16px;
      border-radius: 0; } }
.goal__carousel {
  width: 100%;
  display: flex; }
@media (max-width: 767px) {
  .goal__arrows {
    display: none; } }
.goal__item {
  background: #ffffff;
  border-radius: 10px;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%; }
  @media (max-width: 991px) {
    .goal__item {
      padding: 30px; } }
.goal__icon {
  height: 195px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 10px; }
  @media (max-width: 1199px) {
    .goal__icon {
      height: 100px; } }
  @media (max-width: 767px) {
    .goal__icon {
      height: 140px; } }
  .goal__icon img {
    max-width: 100%;
    max-height: 100%;
    height: auto; }
.goal__title {
  font-size: 1.31rem;
  color: #087534;
  font-weight: 600;
  margin-bottom: 10px; }

.research__cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px; }
  @media (max-width: 767px) {
    .research__cols {
      flex-direction: column;
      margin: 0; } }
.research__item {
  width: calc(25% - 30px);
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media (max-width: 767px) {
    .research__item {
      width: 100%;
      padding: 0;
      margin-bottom: 50px; }
      .research__item:last-child {
        margin-bottom: 0; } }
.research__icon {
  height: 132px;
  margin-bottom: 30px;
  display: flex;
  align-items: center; }
  .research__icon img {
    max-width: 100%;
    max-height: 100%;
    height: auto; }
.research__title {
  font-size: 1.12rem;
  font-weight: 500; }

.complex {
  overflow: hidden; }
  .complex .tns-ovh {
    overflow: visible; }
    @media (max-width: 991px) {
      .complex .tns-ovh {
        overflow: hidden; } }
  .complex__pagination {
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    display: none; }
    @media (max-width: 991px) {
      .complex__pagination {
        display: flex; } }
  @media (max-width: 991px) {
    .complex__arrows._desktop {
      display: none; } }
  @media (max-width: 991px) {
    .complex__arrows._mobile {
      display: flex;
      position: relative;
      right: unset;
      top: unset; } }
  .complex__item {
    display: flex;
    align-items: center;
    margin: 0 -5px; }
    @media (max-width: 767px) {
      .complex__item {
        flex-direction: column;
        align-items: stretch;
        margin: 0; } }
  .complex__list {
    width: 50%;
    margin: 0;
    padding: 0 5px; }
    @media (max-width: 767px) {
      .complex__list {
        width: 100%;
        padding: 0;
        margin-bottom: 30px; } }
    .complex__list .list__circle {
      top: 95px; }
  .complex__icon {
    width: 50%;
    padding: 0 5px; }
    @media (max-width: 767px) {
      .complex__icon {
        width: 100%;
        padding: 0;
        text-align: center; } }
    .complex__icon img {
      max-width: 100%;
      max-height: 256px;
      height: auto; }
      @media (max-width: 767px) {
        .complex__icon img {
          max-height: 215px; } }
  .complex__content {
    display: flex;
    flex-direction: column; }
  .complex__number {
    font-size: 5rem;
    font-family: 'Roboto';
    line-height: 100%;
    margin-bottom: 15px;
    color: #ffffff;
    text-shadow: 1px 0 0 #AAA, -1px 0 0 #AAA, 0 1px 0 #AAA, 0 -1px 0 #AAA, 1px 1px #AAA, -1px -1px 0 #AAA, 1px -1px 0 #AAA, -1px 1px 0 #AAA; }
  .complex__title {
    font-size: 1.31rem;
    font-weight: 600;
    color: #087534;
    line-height: 110%;
    margin-bottom: 15px; }

.traffic {
  max-width: 1200px;
  margin: 0 auto; }
  .traffic__cols {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px; }
    @media (max-width: 991px) {
      .traffic__cols {
        margin: 0;
        flex-direction: column; } }
  .traffic__col {
    padding: 0 15px;
    width: 50%;
    max-width: 586px; }
    @media (max-width: 991px) {
      .traffic__col {
        padding: 0;
        width: 100%;
        max-width: 100%; } }
  .traffic__block {
    margin-bottom: 50px; }
    .traffic__block:last-child {
      margin-bottom: 0; }
  .traffic__title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .traffic__title {
        text-align: center;
        font-size: 1.4rem; } }
  .traffic__items {
    margin: 0 -10px;
    display: flex; }
  .traffic__item {
    margin: 0 10px;
    width: calc(33.33% - 20px); }
    @media (max-width: 991px) {
      .traffic__item {
        text-align: center; } }
  .traffic__number {
    font-size: 1.62rem;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 15px; }
    .traffic__number._orange {
      color: #F7A050; }
    .traffic__number._gradient {
      background: linear-gradient(95.1deg, #F8DB8B -6.14%, #68B790 31.11%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent; }
    .traffic__number._green {
      color: #087534; }
  .traffic__text {
    font-size: .87rem;
    font-weight: 500; }

.graph {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  padding: 0 20px; }
  @media (max-width: 991px) {
    .graph {
      height: 500px;
      max-width: 526px;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .graph {
      max-width: 100%; } }
  .graph__cols {
    margin: 0 -15px;
    display: flex;
    align-items: center; }
    .graph__cols._labels {
      margin-top: 40px; }
      @media (max-width: 991px) {
        .graph__cols._labels {
          margin-top: 15px; } }
    .graph__cols._intro {
      margin-top: 12px; }
    .graph__cols._columns {
      flex-grow: 1;
      position: relative; }
  .graph__col {
    padding: 0 15px;
    width: 33.33%;
    height: 100%;
    position: relative;
    z-index: 2; }
  .graph__label {
    display: flex;
    align-items: center;
    color: #9BA9B7;
    font-weight: 500; }
    .graph__label::before {
      content: '';
      min-width: 16px;
      max-width: 16px;
      border-radius: 50%;
      height: 16px;
      margin-right: 9px; }
    .graph__label._orange::before {
      background: linear-gradient(201.24deg, #FFC444 26.98%, #F36F56 115.62%); }
    .graph__label._gradient::before {
      background: linear-gradient(95.1deg, #F8DB8B -6.14%, #68B790 111.11%); }
    .graph__label._green {
      color: #087534; }
      .graph__label._green::before {
        background: linear-gradient(157.58deg, #067431 0.89%, #2E9F5A 95.66%); }
  .graph__intro {
    font-size: .87rem; }
  .graph__blocks {
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin: 0 -10px;
    width: 100%; }
    @media (max-width: 575px) {
      .graph__blocks {
        width: auto;
        margin: 0 -8px; } }
  .graph__block {
    width: calc(33.33% - 20px);
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 575px) {
      .graph__block {
        margin: 0 8px;
        width: calc(33.33% - 16px); } }
    .graph__block._orange .graph__number {
      font-size: .87rem;
      font-weight: normal; }
    .graph__block._orange .graph__column {
      background: linear-gradient(201.24deg, #FFC444 26.98%, #F36F56 115.62%); }
    .graph__block._gradient .graph__number {
      background: linear-gradient(95.1deg, #F8DB8B -6.14%, #68B790 111.11%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent; }
    .graph__block._gradient .graph__column {
      background: linear-gradient(95.1deg, #F8DB8B -6.14%, #68B790 111.11%); }
    .graph__block._green .graph__number {
      color: #087534; }
    .graph__block._green .graph__column {
      background: linear-gradient(157.58deg, #067431 0.89%, #2E9F5A 95.66%); }
  .graph__column {
    flex-grow: 1;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px; }
  .graph__number {
    white-space: nowrap;
    font-weight: bold; }
  .graph__lines {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden; }
    .graph__lines img {
      height: auto; }

@media (max-width: 575px) {
  .progress {
    overflow: hidden; } }
.progress__block {
  padding: 58px 48px 100px;
  background: #f9f9f9;
  border-radius: 20px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .progress__block {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media (max-width: 575px) {
    .progress__block {
      padding-left: 16px;
      padding-right: 16px;
      margin-left: -16px;
      margin-right: -16px;
      overflow: visible;
      border-radius: 0; } }
.progress__cols {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px -56px;
  justify-content: center; }
  @media (max-width: 767px) {
    .progress__cols {
      flex-wrap: nowrap;
      overflow-x: auto;
      margin: 0;
      justify-content: flex-start; }
      .progress__cols::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important; } }
.progress__item {
  margin: 0 24px 56px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px 30px; }
  @media (max-width: 1199px) {
    .progress__item {
      width: calc(50% - 48px) !important; } }
  @media (max-width: 767px) {
    .progress__item {
      margin: 0 20px 0 0;
      min-width: 263px;
      max-width: 263px;
      width: 263px; } }
  .progress__item._small {
    width: calc(25% - 48px); }
  .progress__item._big {
    width: calc(33.33% - 48px); }
    .progress__item._big .progress__number {
      margin-bottom: 10px; }
.progress__number {
  font-size: 3.25rem;
  font-weight: bold;
  color: #087534;
  line-height: 100%; }
  .progress__number sup {
    font-size: .87rem;
    color: #fff;
    font-weight: 500;
    background: #087534;
    padding: 3px 10px;
    border-radius: 10px;
    margin-left: 7px;
    position: relative;
    top: -80%;
    white-space: nowrap; }
.progress__text {
  margin-top: 20px; }
.progress__icon {
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .progress__icon {
      height: 100px; } }
  .progress__icon img {
    max-height: 90%;
    max-width: 100%;
    height: auto; }

.metrika {
  overflow: hidden; }
  .metrika__block {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto 10px;
    background: #ffffff;
    border-radius: 30px;
    padding-bottom: 30px; }
    @media (max-width: 991px) {
      .metrika__block {
        border-radius: 20px;
        padding-bottom: 20px; } }
    @media (max-width: 767px) {
      .metrika__block {
        border-radius: 15px;
        padding-bottom: 15px; } }
    @media (max-width: 575px) {
      .metrika__block {
        border-radius: 10px;
        padding-bottom: 10px; } }
  .metrika__head {
    width: calc(100% + 1px);
    height: auto;
    margin-top: -3px;
    position: relative;
    z-index: 2; }
    @media (max-width: 575px) {
      .metrika__head {
        margin-top: -10px; } }
  .metrika__img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2; }
  .metrika__subtitle {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto 30px;
    font-size: 1.31rem;
    font-weight: 600; }
  .metrika__bg {
    position: absolute;
    height: auto;
    z-index: 1; }
    .metrika__bg._left {
      left: -95px;
      top: 39px;
      width: 43%; }
      @media (max-width: 991px) {
        .metrika__bg._left {
          left: -50px; } }
      @media (max-width: 575px) {
        .metrika__bg._left {
          left: -30px; } }
    .metrika__bg._right {
      width: 15%;
      right: -87px;
      bottom: 30px; }
      @media (max-width: 991px) {
        .metrika__bg._right {
          right: -50px; } }
      @media (max-width: 575px) {
        .metrika__bg._right {
          right: -30px; } }

/*# sourceMappingURL=style.css.map */
