section.section.articles._pb0
    .container
        .section__head._left-tablet
            h2.section__title Полезно знать

        .articles__carousel
            .articles__slide
                .articles__item
                    a.articles__img(href="#")
                        picture
                            source(type="image/webp" srcset="img/tmp/article-1@2x.webp 2x, img/tmp/article-1.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/article-1@2x.png 2x, img/tmp/article-1.jpg 1x")
                            img(src="img/tmp/article-1.jpg" alt="" width="370" height="402")
                    .articles__date
                        svg(width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#calendar")
                        | 3 апреля
                    a.articles__title(href="#") Таргетированная реклама клиники в социальных сетях
            .articles__slide
                .articles__item
                    a.articles__img(href="#")
                        picture
                            source(type="image/webp" srcset="img/tmp/article-2@2x.webp 2x, img/tmp/article-2.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/article-2@2x.png 2x, img/tmp/article-2.jpg 1x")
                            img(src="img/tmp/article-2.jpg" alt="" width="370" height="402")
                    .articles__date
                        svg(width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#calendar")
                        | 3 апреля
                    a.articles__title(href="#") ТОП 10 ошибок которые допускают при настройке контекстной рекламы
            .articles__slide
                .articles__item
                    a.articles__img(href="#")
                        picture
                            source(type="image/webp" srcset="img/tmp/article-3@2x.webp 2x, img/tmp/article-3.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/article-3@2x.png 2x, img/tmp/article-3.jpg 1x")
                            img(src="img/tmp/article-3.jpg" alt="" width="370" height="402")
                    .articles__date
                        svg(width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#calendar")
                        | 3 апреля
                    a.articles__title(href="#") Плюсы и минусы seo продвижения сайта

