header.header
    .container.header__cols
        a.header__logo(href="index.html")
            svg(width="205" height="34" viewBox="0 0 205 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#logo")

        .header__controls
            a.header__phone(href="tel:+74951182373") +7 (495) 118–23–73

            .header__langs
                a.header__lang._active(href="#") РУС
                a.header__lang(href="#") ENG

            button.header__burger(type="button")
                span
                span
                span