.section.text._pb0
    .container
        .text__cols
            .text__col
                p SEO seo seo seo OOO «Международный Центр Дентальной Стоматологии Симладент» благодарит ха эффективную работу коллектив агентства Green Promo
                p В рамках сотрудничества в 20016 году были поставлены серъезные задачи, которые реализованы на высоком проффесиональном уровне. Резултаты - значительное увеличение поискового трафика, что особенно
            .text__col
                p В рамках сотрудничества в 20016 году были поставлены серъезные задачи, которые реализованы на высоком проффесиональном уровне. Резултаты - значительное увеличение поискового трафика, что особенно показательно для такой высококонкурентной отрасли, как стомматологические услуги.
                p Поздравляем комнаду Green Promo с наступающими