.about {
	&__cols {
		display: flex;
		align-items: center;

		@media (max-width: 991px) {
			flex-direction: column;
		}
	}

	&__list {
		width: 24%;
		padding: 0;
		margin: 0;
		list-style: none;

		@media (max-width: 991px) {
			width: 100%;
		}

		& li {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}

			& strong {
				font-weight: 600;
			}
		}
	}

	&__img {
		width: 52%;
		height: auto;

		@media (max-width: 991px) {
			width: 100%;
			margin: 40px 0;
		}
	}

	&__sertificates {
		display: flex;
		margin: 20px 0 0;
	}

	&__sertificate {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

		& img {
			max-width: 108px;
			height: auto;

			@media (max-width: 1199px) {
				max-width: 80px;
			}

			@media (max-width: 991px) {
				max-width: 108px;
			}
		}
	}
}