.feedback {
	&__cols {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		@media (max-width: 991px) {
			justify-content: center;
		}
	}

	&__img {
		width: 37%;
		height: auto;

		@media (max-width: 991px) {
			width: 50%;
		}

		@media (max-width: 575px) {
			width: 80%;
		}
	}

	&__content {
		width: 63%;
		padding-left: 35px;

		@media (max-width: 991px) {
			width: 100%;
			padding-left: 0;
			padding-top: 20px;
		}
	}
}