.section {
	padding: 110px 0;

	@media (max-width: 991px) {
		padding: 55px 0;
	}

	&._pt0 {
		padding-top: 0;
	}

	&._pb0 {
		padding-bottom: 0;
	}

	&__head {
		margin-bottom: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		text-align: center;
		flex-wrap: wrap;

		@media (max-width: 991px) {
			margin-bottom: 30px;
		}

		&._left-tablet {
			@media (max-width: 991px) {
				justify-content: flex-start;
				text-align: left;
			}
		}

		&._mb0 {
			margin-bottom: 0 !important;
		}
	}

	&__title {
		font-size: 2.37rem;
		font-weight: 600;
		line-height: 110%;
		margin: 0;
		padding: 0;
		max-width: 700px;

		@media (max-width: 991px) {
			font-size: 1.75rem;
		}
	}

	&__subtitle {
		width: 100%;
		background: linear-gradient(95.1deg, #F8DB8B -6.14%, #68B790 111.11%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-size: 1.31rem;
		font-weight: 500;
		margin-top: 10px;
	}

	&__head-arrows {
		position: absolute;
		right: 0;
		top: calc(50% - 17.5px);
	}
}